**/node_modules
**/dist
**/.turbo
**/.next
**/coverage
**/.cache
**/.vite
**/.DS_Store
.git
.github
*.log
**/.env
**/.env.local
*.tsbuildinfo
**/test-results
**/playwright-report
docker-compose.yml
Dockerfile
.dockerignore
