.g-button {
  margin-bottom: 10px;
  margin-right: 5px;
  border-radius: 0.25rem;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  text-transform: none;
  box-shadow: none;
  padding: unset;
}

.g-button.primary {
  background: $primary;
  color: white;
}

.g-button.primary:hover {
  background: #2e40d4;
  color: white;
}

.g-button.secondary {
  color: #212529;
  background: white;
  border: 1px solid #ebedf2;
}

.g-button.secondary:hover {
  background: #ffffff;
  color: #212529;
  border: 1px solid #ebedf2;
}
