@import 'variables.scss';
@import 'buttons.scss';
@import 'flaticon.scss';
@import 'metronics.scss';
@import 'notify.scss';
@import 'portlets.scss';

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  font-weight: 300;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.swal2-popup .swal2-title {
  color: #575962 !important;
  font-weight: 500 !important;
  font-size: 1.3rem !important;
  margin: 0 0 1rem !important;
}

.swal2-popup .swal2-content {
  color: #6f727d !important;
  font-weight: 300 !important;
  font-size: 1rem !important;
}

.g-swal-confirm {
  background: #34bfa3 !important;
  border-color: #34bfa3 !important;
  padding: 0.75rem 2rem !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  font-family: Poppins !important;
}
.g-swal-confirm:hover {
  background: #299781 !important;
}

.g-swal-cancel {
  background: white !important;
  color: #212529 !important;
  border: 1px solid #ebedf2 !important;
}

.q-loading > div {
  margin: 40px 20px 0;
  max-width: 450px;
  text-align: center;
  text-shadow: none !important;
}
