.g-portlet {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 13px 0px rgba(82,63,105,0.05) !important;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 4px;
  cursor: auto;
  min-height: 200px;
}

.g-bg-danger {
  background-color: #fd397a !important;
  color: #fff;
}

.g-bg-brand {
  background-color: #36a3f7 !important;
  color: #fff;
}

.g-bg-secondary {
  background-color: #34bfa3 !important;
  color: #fff;
}

.g-no-border {
  border-bottom: none !important;
  border-top: none !important;
}

.g-portlet > .g-portlet-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 25px;
  border-radius: 4px;
}

.g-portlet > .g-portlet-head {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  position: relative;
  padding: 0 25px;
  margin: 0 !important;
  border-bottom: 1px solid #ebedf2;
  min-height: 50px;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

.g-portlet-head > .g-portlet-head-label {
  display: flex;
  align-items: center;
}

.g-portlet-head > .col {
  margin: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.g-portlet-head-label > .g-portlet-head-title {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-weight: bold;
  // color: #464457;
}

.g-portlet > .g-portlet-foot {
  display: flex;
  align-items: flex-end;
  padding: 0 25px;
  border-top: 1px solid #ebedf2;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  min-height: 40px;
}