$primary: #5867dd;
$secondary: white;



////////////////////////////////////
// Drawer
////////////////////////////////////
$drawerBg: #2c2e3e;
// Drawer links
$drawerLink: #868aa8;
$drawerLinkBgHover: #292b3a;
$drawerLinkIcon: #525672;
$drawerLinkIconHover: #8c8ea4;
// Drawer header
$drawerHeaderBg: #282a3c;
