name: Publish Firebase Image

on:
  push:
    paths:
      - 'packages/dev/Database/Firebase/**'
  workflow_dispatch:

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v2
        with:
          context: ./packages/dev/Database/Firebase
          file: ./packages/dev/Database/Firebase/Dockerfile
          push: true
          tags: goatlab/firebase-emulator:latest
